.ticket-cut {
    -webkit-mask: radial-gradient(circle 12px at 0 50%, transparent 98%, #000) left / 51% 100% no-repeat,
        radial-gradient(circle 12px at 100% 50%, transparent 98%, #000) right / 51% 100% no-repeat;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printable-ticket,
    #printable-ticket * {
        visibility: visible;
    }
    #printable-ticket {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
