* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.leaflet-container {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

img {
    image-rendering: auto;
}

a {
    transition: color 0.2s ease;
}

button {
    cursor: pointer;
}
